/* Your Styles Here */
body{
    background-color: #49306B;
    background-image: url("stars.jpg");

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 30%;
    width: 40%;

    margin: 50px;
    border-right: 10px solid #90708C;
    border-bottom: 10px solid #90708C;
    border-left: 10px solid #68035a;
    border-top: 10px solid #68035a;
    border-radius: 5px;
    padding: 5px;

    color: #ACE4AA;
    background-color: #635380;

    text-align: center;
}

img {
    height: 150px;
    width: auto;

    border-right: 10px solid #68035a;
    border-bottom: 10px solid #68035a;
    border-left: 10px solid #90708C;
    border-top: 10px solid #90708C;
    border-radius: 25%;
}
