/* Your Styles Here */
body{
    background-color: #49306B;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("stars.jpg");
}

.card{
    color: #ACE4AA;
    text-align: center;
    margin: 50px;
    padding: 5px;
    background-color: #635380;
    border-radius: 5px;
    height: 50%;
    width: 60%;
    border: 10px solid #90708C;
    
}